body { text-align: center; }

.title { font-size: 20px; font-weight: bold;}
.sub {}
.box {
    margin: 0 auto;
    width: 1000px;
}
.thumbnail {
    width: 300px;
}

.coupang { color: #e56a2c; font-size: 10px; }


@media screen and (max-width: 1000px) {
	.box {
    width: 800px;
}
.thumbnail {
    width: 250px;
} 
}

@media screen and (max-width: 800px) {
	.box {
    width: 700px;
}
.thumbnail {
    width: 200px;
} 
}

@media screen and (max-width: 500px) {
	.box {
    width: 90%;
}
.thumbnail {
    width: 28%;
} 
}
